{% load static %}

<!doctype html>
<html>
    <head>
        <title>UoM</title>

        <meta charset="utf-8" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <!--<meta name="viewport" content="width=device-width, initial-scale=1" />-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link type="text/css" rel="stylesheet" href="{% static "css/stylesheet.css" %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
        
    <body>
        <script>
            function addcsrf(dict) {

                dict['csrfmiddlewaretoken'] = "{{ csrf_token }}"
                return dict;
            }

            function saveScroll() {
                let pos = $(window).scrollTop();
                console.log(pos);
                localStorage.setItem('my-scroll-pos', pos);
            }

            function restoreScroll() {
                var pos = localStorage.getItem('my-scroll-pos', 0);
                console.log('pos', pos);
                if (pos)
                    $(window).scrollTop(pos);
            }
        </script>

        {% block navigation %}
        {% endblock %}


        <div class="main">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>