{% extends 'base.html' %}

{% block navigation %}
<div class="sidenav accountsnav">
    <a href="{% url 'index' %}">UoM</a>

    <div class="modeswitcher">
    {% if user.is_authenticated %}
        <a href="{% url 'student_index' %}">Student</a>
        <a href="{% url 'teacher_index' %}">Teacher</a>
        <a href="{% url 'logout' %}">Log out</a>
    {% else %}
        <a href="{% url 'login' %}">Log in</a>
        <a href="{% url 'logout' %}">Sign up</a>
    {% endif %}
    </div>

</div>
{% endblock %}

{% block content %}
    hoi.

{% endblock %}