{% extends 'instance/base.html' %}

{% block instance_data %}



<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Study action</th>
            <th scope="col">Load</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr class="hover-elem {% if row.green %}table-success{% endif %}" {% if row.type == 'action' %}onclick="location.href='/student/course_instance/{{instance.id}}/action/{{row.id}}'"{% endif %}>
            {% if row.type == 'week' %}
            <td><strong>{{row.description}}</strong></td>
            <td></td>
            {% else %}
            <td>{{row.description}}</td>
            <td>{{row.load}} hrs</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>

    <script>
    </script>
</table>




{% endblock %}