/* The sidebar menu */
.sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0c0c0c;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

.teachernav {
    background-color: rgb(53, 87, 54);
}

.studentnav {
    background-color: rgb(48, 49, 71);
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ececec;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav.teachernav a:hover {
    background-color: rgb(75, 116, 76);
}

.sidenav.studentnav a:hover {
    background-color: rgb(58, 60, 87);
}

/* Style page content */
.main {
    margin-left: 150px; /* Same as the width of the sidebar */
    padding: 1%;
}

body {
    font-family: 'Roboto', sans-serif;
}

.modeswitcher {
    bottom: 10px;
    width: 100%;
    position: absolute;
    display: block;
}

h4 {
    padding-top: 1em;
}


.delete-button:hover {
    background-color: rgb(245, 118, 118);
}

.other-button:hover {
    background-color:  rgb(153, 179, 235);
}

.hover-button:hover {
    visibility: visible;

}

.hover-elem:hover .hover-button {
    visibility: visible;
}


.hover-elem .hover-button {
    visibility: hidden;
    border: none;
    margin: 0;
    border-radius: 5px;
}



.course-edit {
    position: absolute;
    right: 1em;
    top: 1em;
}

.course-description {
    max-width: 1200px;
}