{% extends 'course/base.html' %}

{% block course_data %}



<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Study action</th>
            <th scope="col">Load</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr onclick="location.href='/teacher/new_action/{{course.id}}'">
            <td>
                <strong>New action</strong>
            </td>
        </tr>
        {% for row in rows %}
        <tr class="hover-elem" {% if row.type == 'action' %}onclick="location.href='/teacher/action/{{row.id}}'"{% endif %}>
            {% if row.type == 'week' %}
            <td><strong>{{row.description}}</strong></td>
            <td></td>
            {% else %}
            <td>{{row.description}}</td>
            <td>{{row.load}} hrs</td>
            {% endif %}
            <td>

                <div class="d-flex">
                    {% if row.type == 'action' %}
                    <button type="submit" class="hover-button other-button" onclick="editOrdering('up', {{row.id}});">
                        <i class="fa fa-arrow-up"></i>
                    </button>
                    
                    <button type="submit" class="hover-button other-button" onclick="editOrdering('down', {{row.id}});">
                        <i class="fa fa-arrow-down"></i>
                    </button>
                    {% endif %}
                    
                    {% if row.type == 'action' %}
                    <form action="{% url 'delete_action' row.id %}" method="post">
                    {% else %}
                    <form action="{% url 'delete_week' row.id %}" method="post">
                    {% endif %}
                        {% csrf_token %}
                        <button type="submit" class="delete-button hover-button">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
        <tr onclick="addWeek({{course.id}})">
            <td>
                <div class="btn btn-link" >Add week</div>
            </td>
        </tr>
    </tbody>



    <script>
    
    function editOrdering(direction, actionId) {
        $.ajax({
            url: "/teacher/action/" + actionId + "/ordering/",
            type: "POST",
            data: addcsrf({ direction }),
            success: (result) => {
               location.reload();
            },
            error: (result) => {
                console.error(result);
            }
        }).fail((xhr, text, error) => {
            console.error(xhr, text, error);
        });

        event.stopPropagation(); 
    }
    
    function addWeek(courseId) {
        $.ajax({
            url: "/teacher/add_week/" + courseId + "/",
            type: "POST",
            data: addcsrf({ }),
            success: (result) => {
                location.reload();
                console.log(result);
            },
            error: (result) => {
                console.error(result);
            }

        });

        event.stopPropagation(); 
    }

    </script>
</table>




{% endblock %}