{% extends 'course/base.html' %}


{% block sticky_top %}
    <div class="pb-2">
        <a href="{% url 'new_action' course.id %}" class="btn btn-primary">
            <i class="fa fa-plus"></i> Action
        </a>

        <a onclick="addWeek({{course.id}})" class="btn btn-primary text-white">
            <i class="fa fa-plus"></i> Week
        </a>
    </div>

    </hr>
{% endblock %}


{% block course_data %}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Study action</th>
            <th scope="col">Load</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr class="hover-elem" {% if row.type == 'action' %}onclick="location.href='{% url 'edit_action' row.id %}'"{% endif %}>
            {% if row.type == 'week' %}
            <td><strong>{{row.description}}</strong></td>
            <td></td>
            {% else %}
            <td>{{row.description}}</td>
            <td>{{row.load}} hrs  ({{row.ordering}})</td>
            {% endif %}
            <td>

                <div class="d-flex">
                    {% if row.type == 'action' %}
                    <button type="submit" class="hover-button other-button" onclick="editOrdering('up', {{row.id}});">
                        <i class="fa fa-arrow-up"></i>
                    </button>
                    
                    <button type="submit" class="hover-button other-button" onclick="editOrdering('down', {{row.id}});">
                        <i class="fa fa-arrow-down"></i>
                    </button>
                    {% endif %}
                    
                    {% if row.type == 'action' %}
                    <form action="{% url 'delete_action' row.id %}" method="post" onsubmit="saveScroll();">
                    {% else %}
                    <form action="{% url 'delete_week' row.id %}" method="post" onsubmit="saveScroll();">
                    {% endif %}
                        {% csrf_token %}
                        <button type="submit" class="delete-button hover-button">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>

    <script>
    
    function editOrdering(direction, actionId) {
        saveScroll();
        $.ajax({
            url: "{% url 'edit_action_order' action_id=98765 %}".replace("98765", actionId),
            type: "POST",
            data: addcsrf({ direction }),
            success: (result) => {
               document.location.reload(true);
            },
            error: (result) => {
                console.error(result);
            }
        }).fail((xhr, text, error) => {
            console.error(xhr, text, error);
        });

        event.stopPropagation(); 
    }
    
    function addWeek(courseId) {
        saveScroll();
        $.ajax({
            url: "{% url 'add_week' course_id=98765 %}".replace("98765", courseId),
            type: "POST",
            data: addcsrf({ }),
            success: (result) => {
                console.log(result);
                document.location.reload(true);
            },
            error: (result) => {
                console.error(result);
            }

        }).fail((xhr, text, error) => {
            console.error(xhr, text, error);
        });

        event.stopPropagation(); 
    }

    $(document).ready(() => {
        restoreScroll();
    })

    </script>
</table>




{% endblock %}