{% extends 'teacher.html' %}

{% block content %}

    <div class="sticky-top bg-white pt-2">
        <h1>{{ course.name }}</h1>

        <a href="{% url 'edit_course_details' course.id %}" class="btn btn-secondary btn-lg course-edit">
            <i class="fa fa-edit"></i> Edit course
        </a>

        <ul class="nav nav-tabs mb-2">
            <li class="nav-item">
                <a class="nav-link {% if nav == 'home' %}active{% endif %}" 
                    href="{% url 'view_course_details' course.id %}">
                        Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if nav == 'aims' %}active{% endif %}" 
                    href="{% url 'view_course_aims' course.id %}">
                        Aims
                    </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if nav == 'actions' %}active{% endif %}" 
                    href="{% url 'view_course_actions' course.id %}">
                        Actions
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if nav == 'materials' %}active{% endif %}" 
                    href="{% url 'view_course_materials' course.id %}">
                        Materials
                </a>
            </li>
        </ul>

        {% block sticky_top %}
        
        {% endblock %}

    </div>

    {% block course_data %}

    {% endblock %}


{% endblock %}