{% extends 'student.html' %}

{% block content %}


    <div class="d-flex flex-column p-3 m-3 mx-5 py-4 bg-light rounded">
        <h1 class="text-center pb-5">Enroll for {{ course.name }}?</h1>

        {% if already_enrolled %}
            <p class="text-center">Warning: You are already enrolled for this course.</p>
        {% endif %}
    
        <div class="d-flex justify-content-center">
            <a class="mx-5 btn btn-lg btn-primary" href="{% url 'confirm_enrolment' course.id %}">Yes</a>
            <a class="mx-5 btn btn-lg btn-secondary" href="{% url 'view_course' course.id %}">No</a>
        </div>


    </div>

{% endblock %}